[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
Environment=PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/bin
Environment=DISPLAY=:0
Environment=XAUTHORITY=${HOME}/.Xauthority
Type=simple
ExecStart=/usr/bin/kanata --cfg ${HOME}/.config/kanata/xps15.kbd
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
