
@keyframes blink-warning {
    70% {
        color: @light;
    }

    to {
        color: @light;
        background-color: @warning;
    }
}

@keyframes blink-critical {
    70% {
      color: @light;
    }

    to {
        color: @light;
        background-color: @critical;
    }
}


/* -----------------------------------------------------------------------------
 * Styles
 * -------------------------------------------------------------------------- */

/* COLORS */

/* Nord */

@define-color nord0 #2E3440;
@define-color nord1 #3B4252;
@define-color nord2 #434C5E;
@define-color nord3 #4C566A;
@define-color nord4 #D8DEE9;
@define-color nord5 #E5E9F0;
@define-color nord6 #ECEFF4;
@define-color nord7 #8FBCBB;
@define-color nord8 #88C0D0;
@define-color nord9 #81A1C1;
@define-color nord10 #5E81AC;
@define-color nord11 #BF616A;
@define-color nord12 #D08770;
@define-color nord13 #EBCB8B;
@define-color nord14 #A3BE8C;
@define-color nord15 #B48EAD;


@define-color bg @nord1;
@define-color fg @nord5;
@define-color warning @nord13;
@define-color urgent @nord11;

/* Reset all styles */
* {
    border: none;
}

/* The whole bar */
#waybar {
    background: @bg;
    color: @light;
    font-family: "Cantarell", "Font Awesome 5 Pro";
    font-size: 14px;
    font-weight: bold;
}

/* Each module */
#battery,
#clock,
#custom-layout,
#mode,
#tray,
#workspaces {
    color: @fg;
    padding: 0em 0.3em 0em 0.3em;
}

#battery.critical.discharging {
    color: @critical;
}
#battery.warning.discharging {
    color: @warning;
}

#workspaces {
    margin-right: 10px;
}
#workspaces button {
    color: @fg;
    padding: 0;
}
#workspaces button.urgent {
    color: @urgent;
}
